/* home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 50px; */
  /* background-color: var(--background-primary); */
  color: var(--text-primary);
  text-align: center;
  position: relative;
  overflow: hidden;
  min-width: 600px;
  min-height: 500px;
}

.header h1 {
  font-size: 3rem;
  margin: 0;
}

.name {
  color: var(--highlight-text-color);
}

.header p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.about,
.projects {
  margin: 40px 0;
}

.about p,
.projects p {
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.projectList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projectCard {
  background-color: var(--back-ground-secondry-transparent);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.footer {
  margin-top: 50px;
  font-size: 0.9rem;
}
