/* navlink.module.css */

.container,
.containerActive {
  transition: var(--animation-time) ease-in-out all;
}

/* Default state */
.container {
  color: var(--text-primary); /* Default text color */
}

/* Hover effect */
.container:hover {
  color: var(--highlight-text-color) !important;
}

/* Active state */
.containerActive {
  /* background-color: var(--background-secondary) !important; */
  color: var(--highlight-text-color) !important;
}

/* Active state hover effect */
.containerActive:hover {
  color: var(--highlight-text-color) !important;
}
