.container {
  background-color: var(--background-secondary-transparent);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--highlight-text-color) !important;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
  text-shadow: 0 0 20px var(--shadow-color);
}

.links {
  display: flex;
  gap: 15px;
  color: var(--highlight-text-color) !important;
  align-items: center;
}
